body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navBar_procument_dashboard {
  /* background-color: #e3f2fd; */
  background-color:#563d7c;
}
.navBarTitle_procument_dashboard {
  color: white;
  font-family:"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}