#content {
    padding-bottom: 600px;
    min-height: "calc(100vh - 92px)";
}
.navbar navbar-dark navbar-expand-md navigation-clean-search{

    margin-left: 20px;
    padding-right: 200px;
}

.header-blue{
    height: 40px;
    font-size: 15px;

}
.collapse navbar-collapse{
    margin-left: 200px; 
    float: left;

}
.navbar-brand{
    margin-left: 1px;
    float: left;
    font-size: 22px;
    padding-left: -2px;
}
.nav-item_two{
    margin-left: 10px;

}
.nav navbar-nav{
    margin-left: 1000px;
    margin-right: 200px;
    padding-left: 20000px;

}

 footer {

    border-radius: 0 !important;
    border-bottom: 0;
    margin: 20px 0 0;
  
 }

 /* added newly items in here */

 .App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* close it */

  

